.text-center {
  text-align: center !important;
}
.ml-3 {
  margin-left: 14%;
}
.mb-3 {
  margin-bottom: 7% !important;
}
.mt-5 {
  margin-top: 10%;
}
.full-width-input {
  width: 100%;
}
input {
  font-size: 16px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: left !important;
  margin-bottom: 12% !important;
}
.welcomeHeading {
  font-size: 20px;
  text-align: left !important;
}
.loginBtn {
  font-size: 17px;
  margin-top: 15%;
  width: 70%;
}
form {
  margin-top: 12% !important;
}
.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headingLoginBtn {
  width: 100px;
  margin-right: 1%;
}
.headingRegisterBtn {
  width: 100px;
}
.headerBtn {
  margin-top: 2%;
}
.loginPage-content {
  padding: 60px 1rem;
  padding-top: 10px !important;
  background: #fff;
  border-radius: 20px;
  height: 490px;
  margin-top: 10px;
  width: 400px;
  box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%) !important;
}
