<app-sidebar></app-sidebar>

<div class="main-content">

  <div class="title-group">
    <h1 class="mat-h1">Update Certificate</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>


  <div class="inner-wrapper">

    <form [formGroup]="calibrationFrom">

      <!-- Left side Customer Details -->
      <h2 class="heading">Customer Details</h2>
      <mat-card>
        <div class="controlers-wrapper">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Customer Name" formControlName="customer_name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Customer email" formControlName="customer_email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Customer address" formControlName="customer_address">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ambient Temp." formControlName="ambient_temp">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Relative Humidity"
              formControlName="relative_humidity">
          </mat-form-field>
        </div>
      </mat-card>

      <!-- Right side Customer Details  -->
      <mat-card>
        <div class="controlers-wrapper">

          <mat-form-field class="multiple-items">
            <input matInput placeholder="Certificate No." formControlName="certificate_no">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput  [matDatepicker]="date_of_calibration" placeholder="Date of Calibration"
              formControlName="date_of_calibration" required>
            <mat-datepicker-toggle matSuffix [for]="date_of_calibration"></mat-datepicker-toggle>
            <mat-datepicker #date_of_calibration></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="next_calibration_due" placeholder="Next Calibration Due"
            formControlName="next_calibration_due"  required>
            <mat-datepicker-toggle matSuffix [for]="next_calibration_due"></mat-datepicker-toggle>
            <mat-datepicker #next_calibration_due></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="multiple-items">
            <input matInput placeholder="Calibration Method/ Ref IS" formControlName="calibration_method_ref_IS">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Location of Calibration</mat-label>
            <mat-select matNativeControl required formControlName="location_of_calibration">
              <mat-option value="In Lab">In Lab</mat-option>
              <mat-option value="On Site">On Site</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>

      <!-- Left Side Instrument Details -->
      <h2 class="heading">Instrument Details</h2>
      <mat-card>
        <div class="controlers-wrapper">
          <mat-form-field>
            <input matInput placeholder="Instrument Name" formControlName="instrument_name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Select Instrument Unit</mat-label>
            <mat-select matNativeControl required formControlName="instrument_unit">
              <mat-option value="°C">°C</mat-option>
              <mat-option value="Kg/cm2">Kg/cm2</mat-option>
              <mat-option value="mmHg">mmHg</mat-option>
              <mat-option value="MM">MM</mat-option>
              <mat-option value="A">A</mat-option>
              <mat-option value="V">V</mat-option>
              <mat-option value="mmWC">mmWC</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="I.D No" formControlName="instrument_id_no">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Serial No." formControlName="instrument_serial_no">
          </mat-form-field>

          <mat-form-field class="multiple-items">
            <input matInput placeholder="Make/Model" formControlName="instrument_make_model">
          </mat-form-field>
        </div>
      </mat-card>

      <!-- Right side Instrument Details -->
      <mat-card>
        <div class="controlers-wrapper">

          <mat-form-field class="multiple-items">
            <input matInput placeholder="Type" formControlName="instrument_type">
          </mat-form-field>

          <mat-form-field class="multiple-items">
            <input matInput placeholder="Range" formControlName="instrument_range">
          </mat-form-field>

          <mat-form-field class="multiple-items">
            <input matInput placeholder="Least Count" formControlName="instrument_least_count">
          </mat-form-field>

          <mat-form-field class="multiple-items">
            <input matInput type="number" placeholder="Acceptance Criteria" formControlName="acceptance_criteria">
          </mat-form-field>

          <mat-form-field class="multiple-items">
            <input matInput type="text" placeholder="Department" formControlName="instrument_department">
          </mat-form-field>

          <mat-form-field class="multiple-items">
            <input matInput type="text" placeholder="Location" formControlName="instrument_location">
          </mat-form-field>
        </div>
      </mat-card>

      <!-- Left Side Standard Instrument Details -->
      <h2>Standard Instrument Details</h2>
      <button class="addBtn" mat-stroked-button color="accent" (click)="addStandardInstrumentDetails()"><mat-icon>add_circle</mat-icon>&nbsp; New Instrument Details</button>
      <div formArrayName="standard_instrument_details">
        <div *ngFor="let a of calibrationFrom.get('standard_instrument_details')['controls']; let i = index" >
          <div [formGroupName]="i">
            <h3 class="cardHeading mt-2">Standard Instrument {{i+1}}</h3>
            <button mat-stroked-button color="accent" (click)="removeStandardInstrumentDetail(i)"><mat-icon>delete</mat-icon>&nbsp; Delete {{i+1}}</button>

            <mat-card>
              <div class="controlers-wrapper">
                <mat-form-field>
                  <input matInput placeholder="Instrument" formControlName="standard_instrument">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Identification No./Sr.no."
                    formControlName="standard_instrument_identification_no">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Certificate No." formControlName="standard_instrument_certificate_no">
                </mat-form-field>
              </div>
            </mat-card>

            <!-- Right side Standard Instrument Details -->
            <mat-card>
              <div class="controlers-wrapper">

                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Calibration Date"
                    formControlName="standard_instrument_calibration_date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <input matInput [matDatepicker]="pick" placeholder="Next Calibration Due"
                    formControlName="standard_instrument_next_calibration_due" required>
                  <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
                  <mat-datepicker #pick></mat-datepicker>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </div>
      </div>

      <!--Left side Calibration Results -->
      <h2 class="heading">Calibration Results</h2>
      <button class="addBtn" mat-stroked-button color="accent" (click)="addCalibrationResult()"><mat-icon>add_circle</mat-icon>&nbsp; New Calibration Points</button>
      <div formArrayName="calibration_result">
        <div *ngFor="let a of calibrationFrom.get('calibration_result')['controls']; let i = index">
          <div [formGroupName]="i">
            <h3 class="cardHeading">Calibration Points {{i+1}}</h3>
            <button mat-stroked-button color="accent" (click)="removeCalibrationResult(i)"><mat-icon>delete</mat-icon>&nbsp; Delete {{i+1}}</button>

            <mat-card class="calibration_result">
              <div class="controlers-wrapper">
                <mat-form-field>
                  <input matInput placeholder="Calibration Points"
                    formControlName="calibration_results_calibration_points">
                </mat-form-field>

                <mat-form-field *ngIf="isNotIncreasing"> 
                  <input type="number" matInput placeholder="Standard Reading"
                    formControlName="calibration_results_standard_reading">
                </mat-form-field>

                <mat-form-field *ngIf="isIncreasing">
                  <input type="number" matInput placeholder="Standard Increasing Reading"
                    formControlName="calibration_results_standard_reading_increasing">
                </mat-form-field>

                <mat-form-field *ngIf="isIncreasing">
                  <input type="number" matInput placeholder="Standard Decreasing Reading"
                    formControlName="calibration_results_standard_reading_decreasing">
                </mat-form-field>

                <mat-form-field>
                  <input type="number" matInput placeholder="UUC Reading"
                    formControlName="calibration_results_UUC_reading">
                </mat-form-field>
              </div>
            </mat-card>

            <!-- <mat-card>
              <div class="controlers-wrapper">
                <mat-form-field>
                  <input [value]="celsiusError" type="number" matInput  formControlName="error_in_celsius"
                    placeholder="Error In Celsius">
                </mat-form-field>

                <mat-form-field>
                  <input [value]="percentError" type="number" matInput formControlName="error_in_percentage"
                    placeholder="Error In Percentage">
                </mat-form-field>
              </div>
            </mat-card> -->
          </div>
        </div>
      </div>


      <!-- Save Button -->
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button (click)="save()" mat-flat-button color="warn">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>
