<!-- Toolbar -->
<mat-toolbar color="primary" class="header" style="position: fixed;">
  <div>Calibration Certificate</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
  <mat-icon class="logout" (click)="clear()">exit_to_app</mat-icon>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/instrument">
        <mat-icon>add</mat-icon>Generate Certificate
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/all-certificate">
        <mat-icon>format_list_bulleted</mat-icon> View All Certificate
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
