<app-sidebar></app-sidebar>
<div class="main-content">
  <mat-spinner *ngIf="displaySpinner"></mat-spinner>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" class="mat-cell">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Sr No.</mat-header-cell>
          <mat-cell *matCellDef="let element let i=index;">{{i+1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="moneyPaidBy">
          <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.customer_name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="toWhomMoneyPaid">
          <mat-header-cell *matHeaderCellDef>Customer Email</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.customer_email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef>Certificate No.</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.certificate_no}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="billDate">
          <mat-header-cell *matHeaderCellDef>Bill Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.billDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalAmount">
          <mat-header-cell *matHeaderCellDef>Total Amount</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.totalAmount}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="paidAmount">
          <mat-header-cell *matHeaderCellDef>Paid Amount</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.paidAmount}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pendingAmount">
          <mat-header-cell *matHeaderCellDef>Pending Amount</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pendingAmount}}</mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button color="accent" routerLink="/update-certificate/{{row._id}}">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button color="accent">
              <mat-icon aria-label="delete">delete</mat-icon>
            </button>

            <button mat-icon-button color="accent">
              <mat-icon aria-label="get_app">get_app</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>


      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>

<!-- <p>{{customer_email}}</p> -->
<!-- <ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef>
    <button mat-icon-button color="primary" (click)="openAddDialog()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </mat-header-cell>

  <mat-cell *matCellDef="let row; let i=index;">
    <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>

    <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-cell>
</ng-container> -->
