<app-sidebar></app-sidebar>
<div class="main-content" >
  <p>list-of-certificate works!</p>
</div>


<!-- <ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef>
    <button mat-icon-button color="primary" (click)="openAddDialog()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </mat-header-cell>

  <mat-cell *matCellDef="let row; let i=index;">
    <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>

    <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-cell>
</ng-container> -->
