.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.heading{
  margin-top: 2%;
}
.calibration_result{
  margin-bottom: 3%;
}
.addBtn{
  margin-bottom: 2%;
}
.cardHeading{
  color: #ff4081;
}
.mt-2{
  margin-top: 2%;
}