<app-sidebar></app-sidebar>
<div class="main-content">
  <h1>Select Instrument to Generate Certificate </h1>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/generate-certificate">Digital Thermometer</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/in-de-certificate">Pressure Gauge</p>
    </mat-list-item>
  </mat-nav-list>
  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/generate-certificate">Hygrometer</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/generate-certificate">Temperature Controller</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/in-de-certificate">Vacuum Gauge</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/generate-certificate">Timer</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/generate-certificate">Temperature Sensor</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/generate-certificate">Ammeter</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/generate-certificate">Voltmeter</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/generate-certificate">Temperature Gauges</p>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item>
      <p matLine routerLink="/in-de-certificate">Magnehelic Gauge</p>
    </mat-list-item>
  </mat-nav-list>
</div>
